@model IEnumerable<phbgtu_ticketing_prototypes.Models.TicketType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketTypeLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketTypeLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketTypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketTypeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
