@model phbgtu_ticketing_prototypes.ViewModels.TicketEventDetailsData

@{
    ViewData["Title"] = "Event Details";
}

<h2>@Html.DisplayFor(model => model.ticketEvent.EventName)</h2>

<div>
    <h4><span class="fa fa-list"></span> Event Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Custom Message
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ticketEvent.CustomMessage)
        </dd>
        <dt>
            Begin Sales
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ticketEvent.BeginSales)
        </dd>
        <dt>
            End Sales
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ticketEvent.EndSales)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index"><span class="fa fa-arrow-left"></span> Back to List</a> |
    <a asp-action="Edit" asp-route-id="@Model.ticketEvent.EventID"><span class="fa fa-edit"></span> Edit</a>
</div>

<br />
<hr />

<br />

@if (Model.eventTickets != null)
{
    <h4>Ticket Types and Quantities</h4>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Ticket Type
                </th>
                <th>
                    Total Quantity Available
                </th>
			 <th>
				Price per Ticket
		      </th>
		      <th>
                    Available Online
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.eventTickets.Count() == 0)
            {
                <tr>
                    <td colspan="4">No ticket types or available quantities are set for this event. <a asp-controller="EventTickets" asp-action="Create" asp-route-id="@Model.ticketEvent.EventID">Click here</a> to add ticket types and quantities to this event.</td>
                </tr>

            }
            else
            {
                @foreach (var item in Model.eventTickets) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketType.TicketTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantityAvailable)
                        </td>
				    <td>
                            @Html.DisplayFor(modelItem => item.TicketPrice)
                        </td>
                        <td>
                            @(item.AvailableOnline ? "Yes" : "No")
                        </td>
                        <td>
                            <a asp-controller="EventTickets" asp-action="Edit" asp-route-id="@item.EventTicketID"><span class="fa fa-edit"></span> Edit</a> |
                            <a asp-controller="EventTickets" asp-action="Delete" asp-route-id="@item.EventTicketID"><span class="fa fa-remove"></span> Delete</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4">
                        <a asp-controller="EventTickets" asp-action="Create" asp-route-id="@Model.ticketEvent.EventID"><span class="fa fa-plus"></span> Click here</a> to add ticket types and available quantities to this event.
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

<br />

<h3>Tickets for this Event</h3>

@if (Model.tickets != null) {

<table class="table">
    <thead>
        <tr>
            <th>
                Amount Paid
            </th>
            <th>
                Date Sold
            </th>
            <th>
                Attendee Name
            </th>
            <th>
                Ticket Number
            </th>
            <th>
                Event Ticket
            </th>
            <th>
                Ticket Status
            </th>
            <th>
                User Account
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.tickets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTicket.EventTicketID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.TicketStatusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccount.UserAccountID)
            </td>
            <td>
                <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.TicketID"><span class="fa fa-edit"></span> Edit</a> |
                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.TicketID"><span class="fa fa-list"></span> Details</a> |
                <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@item.TicketID"><span class="fa fa-remove"></span> Delete</a>
            </td>
        </tr>
	   }
    </tbody>
</table>

}
