@model phbgtu_ticketing_prototypes.ViewModels.TicketEventDetailsData

@{
    ViewData["Title"] = "Details";
}

<h2><span class="fa fa-list"></span> Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ticketEvent.EventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ticketEvent.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ticketEvent.TicketSalesEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ticketEvent.TicketSalesEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ticketEvent.CustomMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ticketEvent.CustomMessage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ticketEvent.BeginSales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ticketEvent.BeginSales)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ticketEvent.EndSales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ticketEvent.EndSales)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ticketEvent.EventID"><span class="fa fa-edit"></span> Edit</a> |
    <a asp-action="Index"><span class="fa fa-arrow-left"></span> Back to List</a>
</div>

<br />
<h3>Tickets for this Event</h3>
<hr />

@if (Model.ticketDesign == null)
{
    <p>
        Event ticket details are not yet configured for this event. <a asp-controller="TicketDesigns" asp-action="Create" asp-route-id="@Model.ticketEvent.EventID">Click here</a> to add event ticketing to this event.
    </p>
}

else
{
   <p>
       <a asp-controller="TicketDesigns" asp-action="Details" asp-route-id="@Model.ticketDesign.TicketDesignID"><span class="fa fa-search"></span> Click here</a> to view the ticket design for this event.
   </p>
}

<br />

@if (Model.eventTickets != null)
{
    <h4>Ticket Types and Quantities</h4>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Ticket Type
                </th>
                <th>
                    Total Quantity Available
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.eventTickets.Count() == 0)
            {
                <tr>
                    <td colspan="3">No ticket types or available quantities are set for this event. <a asp-controller="EventTickets" asp-action="Create" asp-route-id="@Model.ticketDesign.TicketDesignID">Click here</a> to add ticket types and quantities to this event.</td>
                </tr>

            }
            else
            {
                @foreach (var item in Model.eventTickets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketType.TicketTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantityAvailable)
                        </td>
                        <td>
                            <a asp-controller="EventTickets" asp-action="Edit" asp-route-id="@item.EventTicketID"><span class="fa fa-edit"></span> Edit</a> |
                            <a asp-controller="EventTickets" asp-action="Details" asp-route-id="@item.EventTicketID"><span class="fa fa-list"></span> Details</a> |
                            <a asp-controller="EventTickets" asp-action="Delete" asp-route-id="@item.EventTicketID"><span class="fa fa-remove"></span> Delete</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3">
                        <a asp-controller="EventTickets" asp-action="Create" asp-route-id="@Model.ticketDesign.TicketDesignID"><span class="fa fa-plus"></span> Click here</a> to add ticket types and available quantities to this event.
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <br />
    <hr />
    <h4>Distributed Tickets</h4>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Ticket ID
                </th>
                <th>
                    Event Ticket Number
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.tickets.Count() == 0)
            {
                <tr>
                    <td colspan="3">
                        No tickets created for this event. <a asp-controller="Tickets" asp-action="Create" asp-route-id="Model.eventTickets.EventTicketID">Click here</a> to create new tickets.
                    </td>
                </tr>

            }
            else
            {
                @foreach (var item in Model.tickets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketNumber)
                        </td>
                        <td>
                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.TicketID"><span class="fa fa-edit"></span> Edit</a> |
                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.TicketID"><span class="fa fa-list"></span> Details</a> |
                            <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@item.TicketID"><span class="fa fa-remove"></span> Delete</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3">
                        <a asp-controller="Tickets" asp-action="Create" asp-route-id="Model.eventTickets.EventTicketID"><span class="fa fa-plus"></span> Create New</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}