@model IEnumerable<phbgtu_ticketing_prototypes.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create"><span class="fa fa-plus"></span> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketSalesEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomMessage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeginSales)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndSales)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketSalesEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginSales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndSales)
            </td>
            <td>
		      <a asp-controller="Tickets" asp-action="Purchase" asp-route-id="@item.EventID"><span class="fa fa-edit"></span>Purchase Tickets</a> |
                <a asp-action="Edit" asp-route-id="@item.EventID"><span class="fa fa-edit"></span> Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventID"><span class="fa fa-list"></span> Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventID"><span class="fa fa-remove"></span> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
