@model phbgtu_ticketing_prototypes.Models.TicketEvent

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TicketEventID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketEventID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ticketSalesEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ticketSalesEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.customMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.customMessage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.beginSales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.beginSales)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.endSales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.endSales)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketEventID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
