@model phbgtu_ticketing_prototypes.Models.CustomFormFieldQuestion

@{
    ViewData["Title"] = "Details";
}

<h2><span class="fa fa-list"></span> Details</h2>

<div>
    <h4>CustomFormFieldQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TicketDesignID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketDesignID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormFieldLabel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormFieldLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormFieldRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormFieldRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormFieldDatatype)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormFieldDatatype.CustomFormFieldDatatypeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomFormFieldQuestionID"><span class="fa fa-edit"></span> Edit</a> |
    <a asp-action="Index"><span class="fa fa-arrow-left"></span> Back to List</a>
</div>
<div style="width:50%;">
    @if (Model.FormFieldDatatype.DatatypeName == "Select")
    {
        <h3>Field Options</h3>

        if (Model.FormFieldDataOptions.Count() == 0)
        {

            <span>No pre-set options. <a asp-controller="CustomFormFieldDataOptions" asp-action="Create" asp-route-id="@Model.CustomFormFieldQuestionID"><span class="fa fa-plus"></span> Click here</a> to add.</span>

        }
        else
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Option
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @try
                    {

                        @foreach (var option in Model.FormFieldDataOptions)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => option.DataOptionValue)
                                </td>
                                <td>
                                    <a asp-controller="CustomFormFieldDataOptions" asp-action="Edit" asp-route-id="@option.CustomFormFieldDataOptionID"><span class="fa fa-edit"></span> Edit</a> |
                                    <!--<a asp-controller="CustomFormFieldDataOptions" asp-action="Details" asp-route-id="@option.CustomFormFieldDataOptionID"><span class="fa fa-list"></span> Details</a> | -->
                                    <a asp-controller="CustomFormFieldDataOptions" asp-action="Delete" asp-route-id="@option.CustomFormFieldDataOptionID"><span class="fa fa-remove"></span> Delete</a>
                                </td>
                            </tr>

                        }

                    }
                    catch (Exception ex)
                    {
                        <tr>
                            <td colspan="2">
                                No pre-set options.
                                @if (Model.FormFieldDatatype.DatatypeName == "Select")
                        {
                                    <span><a asp-controller="CustomFormFidleDataOptions" asp-action="Create" asp-route-id="@Model.CustomFormFieldQuestionID"><span class="fa fa-plus"></span> Click here</a> to add pre-set options.</span>
                                }
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        }
    }
    
</div>

