@model phbgtu_ticketing_prototypes.Models.CustomFormFieldQuestion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomFormFieldQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TicketDesignID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketDesignID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormFieldLabel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormFieldLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormFieldRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormFieldRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormFieldDatatype)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormFieldDatatype.CustomFormFieldDatatypeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomFormFieldQuestionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
