@model IEnumerable<phbgtu_ticketing_prototypes.Models.UserAccount>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Users</h2>

<p>
    <a asp-action="Create"><span class="fa fa-plus"></span> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserTypeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PasswordHint)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHint)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserAccountID"><span class="fa fa-edit"></span> Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserAccountID"><span class="fa fa-list"></span> Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserAccountID"><span class="fa fa-remove"></span> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
