@model IEnumerable<phbgtu_ticketing_prototypes.Models.TicketDesign>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DesignName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DesignDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventTicketCode)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesignName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesignDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTicketCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketDesignID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketDesignID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketDesignID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
