@model phbgtu_ticketing_prototypes.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AmountPaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountPaid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateSold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSold)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttendeeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttendeeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventTicket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventTicket.EventTicketID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketStatus.TicketStatusID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserAccount.UserAccountID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
