@model IEnumerable<phbgtu_ticketing_prototypes.Models.Ticket>

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTicketNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTicketCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TicketID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventTicketNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventTicketCode)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.TicketID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.TicketID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.TicketID">Delete</a>
    </td>
</tr>
	   }
    </tbody>
</table>
