@model IEnumerable<phbgtu_ticketing_prototypes.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AmountPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateSold)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AttendeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketNumber)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTicket.EventTicketID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.TicketStatusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccount.UserAccountID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
