@model phbgtu_ticketing_prototypes.Models.ViewModels.PurchaseConfirmationData

<!--the AT model directive allows you to access the movie that the controller
    passed to the view by using a Model object that's strongly typed.-->
<!-- in order to add an AT symbol in razor html, you do a double @@ -->

@{
    ViewData["Title"] = "Confirmation";
}

@if (Model.Tickets != null)
{

    <h2>Your ticket purchase was successful!</h2>


    <table class="table">
        <thead>
            <tr>
                <th>TicketNumber</th>
                <th>TicketTypeName</th>
                <th>AmountPaid</th>
                <th>DateSold</th>
                <th>AttendeeName</th>
            </tr>
        </thead>

        <!--see the purchase.cshtml-->

        <tbody>
            @foreach (var item in Model.Tickets)
            {
                
                <tr>
                    <<td>
                        @item.TicketNumber
                    </td>
                    <td>
                        @item.EventTicket.TicketType.TicketTypeName
                    </td>
                    <td>
                        @item.AmountPaid
                    </td>
                    <td>
                        @item.DateSold.ToString()
                    </td>
                    <td>
                        @item.AttendeeName
                    </td>
                </tr>
            }
        </tbody>

    </table>

}

<!--
    
    T


-->

















    <div>
        <a asp-action="Edit" asp-route-id="@Model.account.UserAccountID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

    <!--<p>The value of your ticketID is:  @@ViewData["Message"]</p>-->
