@model phbgtu_ticketing_prototypes.Models.ViewModels.PurchaseConfirmationData

<!--the AT model directive allows you to access the movie that the controller
    passed to the view by using a Model object that's strongly typed.-->
<!-- in order to add an AT symbol in razor html, you do a double @@ -->

@{
    ViewData["Title"] = "Confirmation";
}

@if (Model.Tickets != null)
{

    <h2>Your ticket purchase was successful!</h2>


    <table class="table">
        <thead>
            <tr>
                <th>Ticket Number</th>
                <th>Attendee Name</th>
                <th>Ticket Type Name</th>
                <th>Amount Paid</th>
                <th>Date Sold</th>
            </tr>
        </thead>

        <!--see the purchase.cshtml-->

        <tbody>
            @foreach (var item in Model.Tickets)
            {
                
                <tr>
                    <<td>
                        @item.TicketNumber
                    </td>
                    <td>
                        @item.AttendeeName
                    </td>
                    <td>
                        @item.EventTicket.TicketType.TicketTypeName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountPaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateSold)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TicketID"><span class="fa fa-edit"></span> Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TicketID"><span class="fa fa-list"></span> Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TicketID"><span class="fa fa-remove"></span> Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

}



















    <div>
        <a asp-action="Edit" asp-route-id="@Model.account.UserAccountID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

    <!--<p>The value of your ticketID is:  @@ViewData["Message"]</p>-->
