@model phbgtu_ticketing_prototypes.Models.EventTicket

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EventTicket</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="EventTicketID" />
        <dt>
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantityAvailable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketDesign)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketDesign.TicketDesignID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketType.TicketTypeID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
