@model IEnumerable<phbgtu_ticketing_prototypes.Models.EventTicket>

@{
    ViewData["Title"] = "EventTickets";
}

<h2>List of EventTickets</h2>
<p>This page shows all of the EventTicket objects in the database.  Event details pages contain lists of EventTickets (ticket types) for their respective events.</p>

<p>
    <a asp-action="Create"><span class="fa fa-plus"></span> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuantityAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPrice)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketDesign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketDesign.TicketDesignID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.TicketTypeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventTicketID"><span class="fa fa-edit"></span> Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventTicketID"><span class="fa fa-list"></span> Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventTicketID"><span class="fa fa-remove"></span> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
